<!-- <style>
  ul {
   list-style: none;
  }
</style> -->
<div class="applications-container">
  <h1>Your Dashboard</h1>
  <div class="row" data-controller="draggable">
    <% %w(Saved Applied Interviewing Accepted Rejected).each do |status| %>
      <div class="col">
        <h5 class="card-title"><%= status %></h5>
        <div class="status-card">
          <ul class="card-text dropzone" data-target="draggable.column" data-status="<%= status %>">
            <% @applications.where(application_status: status).each do |application| %>
              <li data-target="draggable.item" data-url="<%= application_path(application) %>" class="application-card">
                <%= application.company_name %>
                <%= application.job_title %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

