<div class="applications-container">

  <ul class="nav list-inline tabs-underlined nav-fill" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= "active" unless params[:reminder] %> tab-underlined active" data-toggle="tab" id="applications-tab" href="#applications" role="tab" area-controls="applications" area-selected="true" >My Applications</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= "active" if params[:reminder] %> tab-underlined" data-toggle="tab" id="reminders-tab" href="#reminders" role="tab" area-controls="reminders" area-selected="false" >My Reminders</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade <%= "active show" unless params[:reminder] %>" id="applications" area-labelledby="applications-tab" role="tabpanel">
      <div class="row" data-controller="draggable">
        <% %w(Saved Applied Interviewing Offer Rejected).each do |status| %>
          <div class="col">
            <h5 class="card-title"><%= status %></h5>
            <div class="status-card">
              <ul class="card-text dropzone" data-target="draggable.column" data-status="<%= status %>">
                <% @applications.where(application_status: status).each do |application| %>
                    <li data-target="draggable.item" data-url="<%= application_path(application) %>" class="application-card">
                        <h4><%= application.company_name %></h4>
                        <p><%= application.job_title %></p>
                        <%= link_to 'See more', application_path(application) %>
                      </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>

  <div class="tab-pane fade <%= "active show" if params[:reminder] %>" id="reminders" area-labelledby="reminders-tab" role="tabpanel">
      <div class="reminder-button-container d-flex justify-content-around mt-3">
        <div class="m-0">
          <button type="button" data-toggle="modal" data-target=".create-modal" id="reminder-button-index">+ Add Reminder</button>
        </div>
      </div>
    <div class="reminders-container">
      <% @reminders.each do |reminder| %>
        <div class="row">
          <div class="reminders-card d-flex justify-content-around">
            <p><strong><%= reminder.title %></strong></p>
            <p><%= reminder.description %></p>
            <p><%= reminder.application.pretty_name%></p>
            <p><%= reminder.scheduled_date%></p>
          </div>
        </div>
      <% end %>
    </div>

      <div class="modal fade bd-example-modal-lg create-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class=" container notes-form">
              <%= simple_form_for @reminder do |f| %>
              <%= f.input :title %>
              <%= f.association :application, label_method: :pretty_name %>
              <p><%= f.input :scheduled_date %></p>
              <%= f.button :submit, class:"btn btn-primary"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

