<div class="applications-container">
<h1>Your Dashboard</h1>
<div class="row">
  <div class="col">
    <h4>Saved</h4>
      <div class="status-card">
        <% @applications.where(application_status: "Saved").each do |application| %>
            <%= link_to application_path(application) do %>
              <div class="application-card">
                <h5><%= application.company_name %></h5>
                <p><%= application.job_title %></p>
              </div>
            <% end %>
        <% end %>
      </div>
  </div>
  <div class="col">
    <h4>Applied</h4>
    <div class="status-card">
      <% @applications.where(application_status: "Applied").each do |application| %>
        <%= link_to application_path(application) do %>
          <div class="application-card">
            <h5><%= application.company_name %></h5>
            <p><%= application.job_title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col">
    <h4>Interviewing</h4>
    <div class="status-card">
      <% @applications.where(application_status: "Interviewing").each do |application| %>
        <%= link_to application_path(application) do %>
          <div class="application-card">
            <h5><%= application.company_name %></h5>
            <p><%= application.job_title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col">
    <h4>Offer</h4>
    <div class="status-card">
      <% @applications.where(application_status: "Interviewing").each do |application| %>
        <%= link_to application_path(application) do %>
          <div class="application-card">
            <h5><%= application.company_name %></h5>
            <p><%= application.job_title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col">
    <h4>Rejected</h4>
    <div class="status-card">
      <% @applications.where(application_status: "Interviewing").each do |application| %>
        <%= link_to application_path(application) do %>
          <div class="application-card">
            <h5><%= application.company_name %></h5>
            <p><%= application.job_title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
