<div class="applications-container">
<h1>Your Dashboard</h1>
<div class="row">
  <div class="col">
    <h4>Saved</h4>
      <div class="status-card">
        <% @applications.where(application_status: "Saved").each do |application| %>
          <div class="application-card">
            <h5><%= link_to application.company_name, application_path(application) %></h5>
            <p><%= application.job_title %></p>
          </div>
        <% end %>
      </div>
  </div>
  <div class="col">
    <h4>Applied</h4>
    <div class="status-card">
      <% @applications.where(application_status: "Applied").each do |application| %>
        <div class="application-card">
          <p><%= link_to application.company_name, application_path(application) %></p>
          <p><%= application.job_title %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col">
    <h4>Interviewing</h4>
    <div class="status-card">
      <% @applications.where(application_status: "Interviewing").each do |application| %>
        <div class="application-card">
          <p><%= link_to application.company_name, application_path(application) %></p>
          <p><%= application.job_title %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col">
    <h4>Offer</h4>
    <div class="status-card">
      <% @applications.where(application_status: "Offer").each do |application| %>
        <div class="application-card">
          <p><%= link_to application.company_name, application_path(application) %></p>
          <p><%= application.job_title %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col">
    <h4>Rejected</h4>
    <div class="status-card">
      <% @applications.where(application_status: "Rejected").each do |application| %>
        <div class="application-card">
          <p><%= link_to application.company_name, application_path(application) %></p>
          <p><%= application.job_title %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
