<h1><%= @application.company_name %></h1>
<p><%= @application.company_link %></p>
<p><%= @application.job_title %></p>
<p><em><%= @application.location %></em></p>
<p><%= @application.job_description %></p>


  <%  @application.notes.each do |note| %>
  <%= note.title %>
  <%= note.content %>
  <%= note.date %>
  <% end %>


<div class="container notes-form">
  <%= simple_form_for [@application, @note] do |f| %>
  <%= f.input :title %>
  <p><%= f.input :content %></p>
  <%= f.button :submit, class:"btn btn-primary"%>
  <% end %>
</div>

<% @status_updates.each do |update| %>
 <p><%= update.content %>: <%= update.date %></p>
<% end %>

<div class="new-form-container">
  <h1> Add a Status Update</h1>
  <div class = "new-status-update-form">
    <%= simple_form_for([@application, @status_update]) do |f| %>
      <%= f.input :content, class: "form-control" %>
      <%= f.input :date, class: "form-control" %>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= link_to "Edit Application", edit_application_path(@application)  %>
<%= link_to "Delete Application", application_path(@application), method: :delete, data: { confirm: "Are you sure you want to delete this application?" }%>

