<h1><%= @application.company_name %></h1>
<p><%= @application.company_link %></p>
<p><%= @application.job_title %></p>
<p><em><%= @application.location %></em></p>
<p><%= @application.job_description %></p>


  <div class="timeline">
    <% @application.notes.order(date: :desc).each do |note| %>
      <div class= "timeline-note" type="button" data-toggle="modal" data-target="#edit_<%= dom_id(note) %>" data-tippy="<%= note.title %> <%= note.date %>" data-placement="right"></div>
      <div class="modal fade bd-example-modal-lg" id="edit_<%= dom_id(note) %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <%= simple_form_for note do |f| %>
              <%= f.input :title %>
              <%= f.input :content %>
              <%= f.submit class: 'btn btn-primary' %>
            <% end %>
            <%= note.date %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<%= link_to "Edit Application", edit_application_path(@application)  %>
<%= link_to "Delete Application", application_path(@application), method: :delete, data: { confirm: "Are you sure you want to delete this application?" }%>

<button type="button" class="text-underline notes-button" data-toggle="modal" data-target=".bd-example-modal-lg">+ Add a Note</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class=" container notes-form">
        <%= simple_form_for [@application, @note] do |f| %>
        <%= f.input :title %>
        <p><%= f.input :content %></p>
        <%= f.button :submit, class:"btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="new-reminder-container">
  <h1> Add a Reminder</h1>
  <div class = "new-job-form">
    <%= simple_form_for([@application, @reminder]) do |f| %>
      <%= f.input :title, class: "form-control" %>
      <%= f.input :scheduled_date, as: :date, html5: true,class: "form-control" %>
    <% end %>
  </div>
</div>

