<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-7">
      <ul class="nav list-inline tabs-underlined nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link tab-underlined active" id="pills-overview-tab" data-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab-underlined" id="pills-notes-tab" data-toggle="pill" href="#pills-notes" role="tab" aria-controls="pills-notes" aria-selected="false">Notes</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
          <div class="overview pl-3">
            <div class= "d-flex justify-content-start align-items-center symbols">
              <h1><%= @application.company_name %></h1>
              <h4><%= link_to edit_application_path(@application) do %></h4>
              <h4 class="icon add"><%= fa_icon "edit" %></h4>
              <% end %>
              <h4><%= link_to "X", application_path(@application), method: :delete, data: { confirm: "Are you sure you want to delete this application?" }, class: "icon add" %></h4>
            </div>
            <div class="d-flex">
              <div class= "d-flex justify-content-start mr-4">
                <i class="fas fa-user symbol"></i><p class="ml-1"><%= @application.job_title %></p>
              </div>
              <div class= "d-flex justify-content-start">
                <i class="fas fa-link symbol"></i><%= link_to @application.company_link, @application.company_link, class:"ml-1", target:"blank" %>
              </div>
            </div>
            <div class= "d-flex">
              <div class= "d-flex justify-content-start mr-4">
                <i class="fas fa-map-marker-alt symbol"></i><p class="ml-1"><em><%= @application.location %></em></p>
              </div>
              <div class= "d-flex justify-content-start">
              <i class="fas fa-clock symbol"></i><p class="ml-1"><%= @application.application_status %></p>
            </div>
          </div>
            <p style="white-space: pre-line;"><%= @application.job_description %></p>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab">
          <div>
            <% @application.notes.each do |note| %>
              <div class="card" id="notes-content">
                <div class="d-flex justify-content-start align-items-center symbols">
                  <h5 class="mr-2"><u><%= note.title %></u></h5><h6>at: <%= note.date %></h6>
                  <h6><%= link_to edit_note_path(note) do %></h6>
                  <h6><%= fa_icon "edit" %></h6>
                  <% end %>
                  <h6><%= link_to "X", note_path(note), method: :delete, data: { confirm: "Are you sure you want to delete this application?" }%></h6>
                 </div>
                <p><%= note.rich_content %></p>
              </div>
            <% end %>
          </div>
          <div class="d-flex justify-content-around">
          <button type="button" class="text-underline add-notes-button btn-block mb-4 w-50" data-toggle="modal" data-target=".create-note-modal">+ Add New Note</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="p-5">
        <div class="d-flex justify-content-center">
          <button type="button" class="text-underline reminder-button btn-block mb-4 w-50" data-toggle="modal" data-target=".create-reminder-modal">+ Add Reminder</button>
        </div>
        <div class="timeline">
          <% @application.reminders.order(scheduled_date: :desc).each do |reminder| %>
            <div class= "timeline-note" type="button" data-toggle="modal" data-target="#edit_<%= dom_id(reminder) %>" data-tippy="<%= reminder.title %> <%= reminder.scheduled_date %>" data-placement="right"></div>
            <div class="modal fade bd-example-modal-lg" id="edit_<%= dom_id(reminder) %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <%= simple_form_for reminder do |f| %>
                    <%= f.input :title %>
                    <%= f.input :description %>
                    <%= f.input :scheduled_date %>
                    <%= f.submit class: 'btn btn-primary' %>
                  <% end %>
                  <%= reminder.scheduled_date %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg create-note-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class=" container notes-form">
          <%= simple_form_for [@application, @note] do |f| %>
          <%= f.input :title %>
          <p><%= f.rich_text_area :rich_content %></p>
          <div class="submit-button-container d-flex justify-content-around mb-4">
            <%= f.button :submit, class:"button"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-lg create-reminder-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class=" container reminder-form">
        <%= simple_form_for [@application, @reminder] do |f| %>
        <%= f.input :title %>
        <p><%= f.input :scheduled_date %></p>
        <div class="submit-button-container d-flex justify-content-around mb-4">
          <%= f.button :submit, class:"button"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
