<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "eTRACKER", applications_path, id:"name-etracker" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <button type="button" class="nav-link" id="navbar-button" data-toggle="modal" data-target=".create-application-modal">+ Add an Application</button>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "000039500030.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Dashboard", "/applications", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>


<% if user_signed_in? %>
  <div class="modal fade bd-example-modal-lg create-application-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class=" container application-form">
          <div class="d-flex justify-content-around pb-3">
            <h2>Add an Application</h2>
          </div>
          <%= simple_form_for(@new_application) do |f| %>
            <%#= f.input :company_name, class: "form-control" %>
            <%= f.association :company, class: "form-control" %>
            <%= f.input :company_link, class: "form-control" %>
            <%= f.input :location, class: "form-control" %>
            <%= f.input :job_title, class: "form-control" %>
            <%= f.input :job_description, class: "form-control" %>
            <%= f.input :cv, as: :file %>
            <%= f.input :cover_letter, as: :file %>
            <%= f.input :application_status, :collection => ['Saved','Applied','Interviewing','Offer'] %>
            <div>
              <%= f.button :submit, class:"submit-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
