<!DOCTYPE html>
<html>
  <head>
    <title>Etracker - The best job application tracking app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "/assets/images/favicon.png"%>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="assets/images/og.jpg" />
    <meta property="og:title" content="eTracker: The best way to keep track of your application processes" />
    <meta property="og:description" content="Stop worrying about organizing your job search and focus on your interviews." />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  </head>

  <body>
    <div class="page-container">
      <% unless action_name == 'home' %>
      <%= render "shared/navbar" %>
      <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <div class="footer-container"><%= render "shared/footer" %></div>
  </body>
</html>
